@font-face {
  font-family: Balkara;
  src: url("../fonts/BalkaraFreeCondensed-npoekmu.me.ttf") format("truetype");
}

* {
  font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

header {
  width: 100%;
  /* height: 170px; */
  box-shadow: 0 2px 10px rgba(86, 90, 89, 0.829);
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #800000 !important;
  color: #fff;
}

#logo {
  height: 80px;
  width: 80px;
}

.nav-item {
  /* border: 2px solid black; */
  margin-left: 20px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

.nav-link {
  color: #9d9d9d;
}

.nav-link:hover {
  color: #d8d8d8;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.829);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #fff;
}

.news {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  justify-content: space-evenly; /*space-evenly;*/
  justify-items: center;
  grid-template-columns: 186px repeat(auto-fill, 186px) 186px;
  /* grid-template-columns: minmax(186px, 0.5fr); */
  grid-auto-flow: dense;
  grid-gap: 20px;
  padding-bottom: 40px;
}

.news_item {
  border: 2px solid black;
  display: flex;
  align-items: flex-end;
  border-radius: 13px;
  box-shadow: 0 2px 10px rgba(53, 54, 53, 0.829);
  height: 300px;
  width: 200px;

  background-size: cover;
  background-position: center;
}

.news_item h5 {
  text-align: center;
  color: #fff8f6;
  background-color: #6d6d6db0;
  /* position: absolute; */
}

.news_item a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  width: 200px;
}

/* .news_item img {
  position: relative;
} */

.news_item:hover {
  transform: translate(5px, -5px);
  box-shadow: 0 5px 20px rgba(86, 90, 89, 0.829);
}

.news_item a {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  .news_item {
    height: 200px;
    width: 150px;
  }
  .news {
    grid-template-columns: repeat(auto-fill, 186px);
  }
}

footer {
  /* background-color: red; */
  position: relative;
  left: 0;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: 80px;
}
.wrapper {
  min-height: 100%;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_page {
  height: fit-content;
}

/* .content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.create_by {
  /* background-color: aliceblue; */
  padding: 5px;
}
